In [ ]:
# variable 
# datatypes
# printing in python
# case sensitiveness
# whitespace
# multiple variabe declaration
# knowing the variable
# comments
# typecasting
# format
# operators

variables

In [1]:
a=10
b=34
c='hi'
d="hello"

print(a)
print(b)
print(c)
print(d)

10
34
hi
hello

In [2]:
name="python"
print(name)

python

datatypes

In [4]:
a=10
b=2.3
c='hi'
d="hello"

#type()
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
inbuilt methods - type() , print()

Printing in python

In [5]:
print('hello')

hello

In [7]:
name="python"
print('good morning',name) # , concatenation

good morning python

In [9]:
name ="rohit"
course="python"
rank = 1

# rohit is studying python and got 1 rank

print(name,'is studying',course,'and got',rank,'rank')

rohit is studying python and got 1 rank

In [11]:
a=13
b=45
c=a+b
print('the answer is',c) # + add

the answer is 58

In [13]:
a="john"
b="smith"
c=a+b
print("name is",c) # + concatenation joining the string

name is johnsmith

comments

In [ ]:
a=10
b=56
c=a+b
print(c) # a and b are variables

In [ ]:
'''ehjfjrgjrg
fgdhfg
dshfdshfkjsdhf'''

case sensitiveness - lowercase , uppercase , capitialize -Animal , camelcase - onHandClick

In [14]:
a=10
print(A)

NameError: name 'A' is not defined

In [15]:
print('chennai')

chennai

In [16]:
Print('delhi')

NameError: name 'Print' is not defined

whitespace in python

In [17]:
a=10
b=34
c=                               67

print(a)
print(b)
print(c)

10
34
67

In [21]:
a="10"
b="            90"

print(a)
print(b)
print(len(b))

10
            90
14

multiple varibale declaration

In [22]:
a,b,c=10,20,304

print(a)
print(b)
print(c)

10
20
304

In [23]:
a=b=c=10

print(a)
print(b)
print(c)

10
10
10

In [24]:
a=10
b=32

a,b=b,a

print(a)
print(b)

32
10

typecasting

In [25]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [27]:
b=float(a)
print(b)
print(type(b))

10.0
<class 'float'>

In [29]:
a=34.4
print(a)
print(type(a))

b=int(a)
print(b)
print(type(b))

34.4
<class 'float'>
34
<class 'int'>

In [30]:
a="10"
print(type(a))

b=int(a)
print(b)
print(type(b))

<class 'str'>
10
<class 'int'>

In [31]:
a="10.5"
print(type(a))

b=float(a)
print(b)
print(type(b))

<class 'str'>
10.5
<class 'float'>

In [34]:
a="hidfd4545"
print(type(a))

b=float(a)
print(b)
print(type(b))

<class 'str'>

ValueError: could not convert string to float: 'hidfd4545'

In [35]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

format in python

In [36]:
print("hello, am {} years old".format(18))

hello, am 18 years old

In [38]:
s="the article is about {}"
print(s.format("python"))

the article is about python

In [39]:
y=2.87878
"{:.2f}".format(y)

'2.88'

In [40]:
a=2.878
print("%.2f"%a)

2.88

In [43]:
print("hello"," world",sep="-",end="!")

hello- world!

input reading

In [44]:
a=10
b=5
c=a+b
print(c)

15

In [46]:
a=input()
print(a)

 6776

6776

In [48]:
a=input()
b=input()
c=a+b
print(c)

print(type(a))
print(type(b))

 56
 56

5656
<class 'str'>
<class 'str'>

In [49]:
a=int(input())
b=int(input())
c=a+b
print(c)

print(type(a))
print(type(b))

 4
 34

38
<class 'int'>
<class 'int'>

In [53]:
a=int(input('enter a value:'))
b=int(input('enter b value:'))
c=a+b
print(c)

print(type(a))
print(type(b)) # accept only int

enter a value: 45
enter b value: 45

90
<class 'int'>
<class 'int'>

In [54]:
a=float(input('enter a value:'))
b=float(input('enter b value:'))
c=a+b
print(c)

print(type(a))
print(type(b)) # int and float value

enter a value: 4
enter b value: 4

8.0
<class 'float'>
<class 'float'>

In [55]:
a=str(input('enter name'))
print(a)

enter name python

python

In [56]:
a=input('enter name')
print(a)

enter name python

python

In [57]:
p=100000
n=2
r=2.5
si=p*n*r/100
print(si)

5000.0

In [58]:
p=int(input('enter principal value:'))
n=int(input('no of years:'))
r=float(input('enter the rate of interest:'))
si=p*n*r/100
print(si)

enter principal value: 10000
no of years: 2
enter the rate of interest: 2.5

500.0

operators

In [61]:
a=10
b=4
c=a/b
c # quotient

2.5

In [62]:
a=10
b=3
c=a//b
print(c) # floor opertor - quotient - after decimal dont consider

3

In [63]:
a=10
b=3
c=a%b
print(c) # modulo operator - remainder

1

In [64]:
a=10
b=3
c=a**b
print(c) # exponenial

1000

In [70]:
a=10
b=34

print(a==b)
print(a!=b)
print(a>=b)

False
True
False

In [71]:
a=10
b=3
if a>b:
    print('a is bigger')

a is bigger